.button {
  width: 100%;
  background-color: rgb(98, 100, 217);
  margin-top: 16px;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.button:hover {
  opacity: 0.75;
}

.button:disabled {
  opacity: 0.75;
}
